body {
    background-image: url(../images/background.jpg);
    background-position-y: 10%;
    background-size: cover;
    font-family: "Nunito Sans";
    color: #ece7ec; 
}
a {
    text-decoration: none;
    color: azure;

}
header {
    border-bottom: 5px solid rgba(110, 60, 202, 1);
    text-align: center;
    padding-top: 10px;
    margin: -20px -10px 5px -10px;
    letter-spacing: 5px;
    /* text-transform: uppercase; */
    font-weight: 900;
    text-shadow: 0 0 10px #cf07cf;
    box-shadow: 2px 5px 100px #5c035c; 
    position: relative;
}

.push {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.push h3 {
    font-size: 18px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center;
    border: 2px solid rgba(110, 60, 202, 1);
    border-radius: 50%;
    color: #fff; /* Цвет текста */
    text-shadow: 0 0 10px #ff00ff;
    box-shadow: 0px 0px 30px #ebe8eb; 
    background-color: rgba(157, 60, 202, 0.2);
    letter-spacing: 1px;
    font-size: 100;
    
}
.push h3:hover {
    background-color: rgba(123, 64, 151, 0.5);
    transition: background-color 1s;
    transform: scale(0.95);
}
.push h3:active {
     transform: scale(0.9);  
     background-color: #5c035c; 
     transition: background-color .1s; 

}

/* Вторая страница Стилизация текста */
.text-style-nav ul {
    display: flex;
    list-style: none;
    position: absolute;
    margin-top: 1px;
    padding: 1px 1px;
    
}
li {
    padding: 0px 5px;
    font-size: 15px;
    margin: 1px 10px;
    border: 2px solid rgba(110, 60, 202, 1);
    border-radius: 15px;
    background-color: rgba(157, 60, 202, 0.2);
    box-shadow: 0px 0px 13px #ebe8eb; 
    text-shadow: 0 0 10px #ff00ff;
    position: relative;
}
.home:hover {
    transform: scale(1.05);
}
.text-style-nav li+li::before {
    content: ">";
    position: absolute;
    left: -15px;
}

/* БЛОК ЦВЕТА */


.text article {
    color: #bbb6bb;
    background-color: rgba(157, 60, 202, 0.2);
    border: 2px solid rgba(110, 60, 202, 1);
    border-radius: 15px;    
}

.text h3 {
    position:relative;
    text-align: center;
    margin: 40px auto;
}
.block-color, .block-fonts, .block-head {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 10px;
}
.block-color p {
    margin: 10px auto;
    font-weight: 400;
}
.block-color div {
    width: 200px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    min-width: 180px;
}
.block-orange {
    background-color: orange;
}
.block-orange p {
    color: red;
}
.block-blue {
    background-color: hsla(240, 100%, 50%, 0.5);
}
.block-blue p {
    color: hsl(60, 100%, 50%);
}
.block-green {
    background-color: #138b03;
}
.block-green p {
    color: #000000;
}
.block-brown {
    background-color: #8f2f11;
} 
.block-brown p {
    color: rgba(229, 55, 165, 0.5);
}
.block-violet {
    background-color: rgba(182, 10, 255, 0.7);
} 
.block-violet p {
    color: rgb(255, 255, 255);
}
.block-fonts div {
    text-align: left;
    border: 2px solid rgba(110, 60, 202, 1);
    border-radius: 10px;
    margin: 5px;
}
.block-fonts p {
    margin: 0 5px;
}
.fonts-arial p {
    font-family: Arial, Helvetica, sans-serif;
}
#w900{
    font-weight: bold;
}
#w400 {
    font-weight:normal;
}
#w100 {
    font-weight:lighter;
}
.fonts-georgia p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.fonts-verdana p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fonts-cambria p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fonts-trebuchet p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fonts-Amatic-SC {
    font-family: 'Amatic SC', sans-serif;
}
.fonts-Caveat {
    font-family: 'Caveat', cursive;
}
.fonts-El-Messiri {
    font-family: 'El Messiri', sans-serif;
}
.fonts-Lobster {
    font-family: 'Lobster', sans-serif;
}
.fonts-Pacifico {
    font-family: 'Pacifico', cursive;
}

/* Блок подзаголовков */
.head div, p {
    color:#eeebee;
}
.block-head div {
    text-align: center;
    border: 2px solid rgba(110, 60, 202, 1);
    border-radius: 10px;
    margin: 5px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    min-width: 180px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#italic {
    font-style: italic;
}
#underline {
    text-decoration: underline;
}
#line-through {
    text-decoration: line-through;
}